@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&display=swap');

nav{
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem 1rem 2rem;
    font-family: 'Wix Madefor Text', sans-serif;
    background: transparent;
    color: white;

    >.logo{
        width: 40%;
        
        >img{
            width: 12rem;
        }
    }

    >.navOptions{
        width: 60%;
        display: flex;
        justify-content: flex-end;

        >ul{
            display: flex;
            justify-content: space-between;
            list-style: none;
            padding-top: 0.3rem;
            margin-right: 1rem;

            >li{
                margin-right: 1.5rem;
                font-size: 1.1rem;
            }
        }

        >.navProfile{
            display: flex;
            padding-top: 0.2rem;

            >.headphones{
                font-size: 1.5rem;
            }

            >img{
                max-width: 3rem;
                max-height: 2.3rem;
                margin-left: 1.2rem;
            }
        }
    }
}