@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500;600;700;800&family=Work+Sans:wght@200&display=swap');

// font-family: 'Wix Madefor Text', sans-serif;
// font-family: 'Work Sans', sans-serif;

main{
    background: black;

    >.title{
        padding-top: 8rem;
        color: white;
        font-family: 'Wix Madefor Text', sans-serif;
        text-align: center;

        >h1{
            font-size: 7rem;
        }

        >form{
            margin-top: 2rem;

            >input{
                border-radius: 2rem;
                padding: 1rem 5.5rem 1rem 2rem;
                font-size: 1.2rem;
                border: none;
            }

            >input:focus{
                outline: none;
            }

            >button{
                border: none;
                padding: 1rem 2.5rem;
                font-size: 1.2rem;
                margin-left: -4rem;
                border-radius: 2rem;
                background: orange;
            }
        }
    }

    >.popular{
        margin-top: 2rem;

        >.division{

            >.popularBeginStyle{
                color: white;
                font-size: 2rem;
                text-align: center;
            }

            >img{
                width: 100%;
            }
        }

        >.popularBegin{
            margin-top: -1rem;
            background: white;
            padding-top: 3rem;

            >.popularCards{

                >.iphone15pro{

                    >img{
                        width: 20rem;
                        height: 30rem;
                    }
                }
            }
        }

    }
}